.listItem{
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    list-style-type: none;
    border-bottom:1px solid #e3e4f0;
    align-items:center;
}

.checkBtn{
width:20px;
height: 20px;
border-radius: 50%;
border:1px solid #ebecf5;
background-color: #ffffff;
}

.todo{
    margin-left:20px;
}