@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
  --Dark-Grayish-Blue:hsl(236, 9%, 61%);
  
}
* { 
  margin: 0; 
  padding: 0;   
  box-sizing: border-box; 
} 

html, 
body { 
  height: 100%; 
  width: 100%; 
  margin: 0; 
  padding:0;
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  font-size:18px;
  background-color: #fafafa;
}

#root{
  height: 100%; 
  width: 100%; 
  background: url(../src/assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
